#map {
    height: 60%;
    width: 60%;
    margin: auto;
    border: #333333 1px solid;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 25px;
}
hr {
    margin-bottom: 45px;
}
#firstHeading {
    font-size: 30px;
}
#bodyContent p {
    margin: 3px;
}
#email {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: grey;
    font-size: 20px;
}